.fleft {
    float: left;
}
#fleft2 {
    margin-top: 10px;
    padding-left: 50px;
}
#timer {
    float: right;
}
.sameline {
    overflow: auto;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.center {
    text-align: center;
}
.color{
    background-color:black;
    color: white;
}
#mt{
    margin-top: 60px;
}
#Fscore{
    display: none;
    margin-top: 15px;
    margin-left: 60px;
}
.con {
  
    font-size: 30px;
}
.bq{
    margin-left: 50px;
    margin-top: 10px;
}
#questions{
    margin-top: 20px;
    margin-left: 50px;
}
.view{
    font-size: 25px;
}